* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #444;
    margin: 0;
    padding: 0;
}

a {
    color: #444;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
        color: #dec129;
    }
}

button {
    cursor: pointer;
}

button fa-icon,
a fa-icon {
    margin-right: 0.2em;
}

.edit-btn,
.remove-btn {
    background-color: #fff;
    border: 1px solid #efefef;
    font-size: 1em;
    margin: 0 0.5em;
    padding: 0.4em 1em;
    transition: 0.4s;
}

.edit-btn,
.edit-btn path {
    border-color: #007bff;
    color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path {
    background-color: #007bff;
    color: #fff;
}

.remove-btn,
.remove-btn path {
    border-color: #dc3545;
    color: #dc3545;
}

.remove-btn:hover,
.remove-btn:hover path {
    background-color: #dc3545;
    color: #fff;
}

form {
    margin: 0 auto;
    width: 450px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group input,
textarea {
    color: #777;
    font-size: 0.8em;
    padding: 0.6em;
}

.form-group label {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.6em 1em;
    transition: 0.04s all;
}

input[type="submit"]:hover {
    background-color: transparent;
    border-color: #dec129;
    color: #dec129;
    cursor: pointer;
}

.validation-error {
    border-left: 3px solid #dc3545;
    color: #dc3545;
    margin-top: 0.4em;
    padding-left: 0.2em;
}